body {
    font-family: cafe-romantique, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    /* overflow: hidden; */
    background-color: #F4BCCC;
    /* Empêche les barres de défilement si le bouton va trop loin */
}