* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'cafe-romantique', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; /* Juste pour éviter les débordements latéraux */
}

/* Section d'animation : pleine hauteur d'écran */
.section-animation {
    height: 100vh;
    position: relative;
}

/* L'IMAGE EN PLEIN ÉCRAN */
#img-sequence {
    width: 100vw;  /* Largeur = largeur écran */
    height: 100vh; /* Hauteur = hauteur écran */
    object-fit: cover; /* Remplit parfaitement sans déformation */
    display: block;
}

